<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Agradecimientos </title>
  </head>
  <body>
    <center>
        <h1 class="display-4 btn-info"> Agradecimientos! </h1>

        <p class="lead  alert-dark">
          Geoservi, primero gracias a Dios quien no da la vida, y segundo este
          proyecto es fruto del seminario de grado con el ing. Mario Espinoza quien nos instruyó en python y el framework Django.
          Agradecemos a toda la comunidad de Django por todos los foros que aportan gran contenido de utilidad!!..
        </p>
        <!-- Barra de proreso para generar la linea verde-->
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!--Fin barra de progreso-->
        <div class="jumbotron btn-secondary">
          <h1 class="display-4 btn-info"> GeoServi! </h1>
          <p class="lead alert-dark"> Queremos expresar en ésta sesión,
            a cada uno de los docentes que durante todos estos años hicieron parte de nuestro aprendizaje,
             entregando en cada tutoría lo mejor de sí</p>
          <hr class="my-4 btn-success">

          <p class=" alert-dark"> Se pudo lograr estudiar la ingeniería gracias al lema: "Poder Trabajar, poder Estudiar". Cada uno de los tutores con profesionalismo
          y dedicación nos apoyaron en cada etapa...</p>
          <a class="btn btn-info btn-lg alert-info" href="{% url 'home' %}" role="button">Regresar al Inicio</a>
        </div>
        <!-- Barra de proreso para generar la linea verde-->
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!--Fin barra de progreso-->

          <div class="jumbotron btn-secondary">
            <h1 class="display-4 btn-info">Gracias Uniremington Manizales!</h1>
            <p class="lead  alert-dark">..................... ...........................
            ....................</p>
            <hr class="my-4">
            <p class=" alert-dark"> "Bienaventurado el hombre que halla la sabiduría, Y que obtiene la inteligencia". Proverbios. 3:13</p>
            <a class="btn btn-info btn-lg alert-info" href="https://www.uniremington.edu.co/manizales/" role="button">ir a Unireminton Manizales</a>
          </div>
  </center>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
