{% extends 'base/base.html' %}

{% block container %}

<!-- ESta p+agina queda para otras operaciones, es mi plantilla de ejemplo para agregar mas funcionalidadees-->

<br>
<!-- Se utlizzara luego como la vista de empresas-->
  <h1 class="alert-heading alert-success btn-info">Buscar un lugar en el mapa</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"> # </th>
      <th scope="col"> Ubicacion</th>
      <th scope="col"> Valor </th>
      <th scope="col"> Iva </th>
      <th scope="col"> Archivo </th>
      <th scope="col"> Aciones </th>
    </tr>
  </thead>
  <tbody>

    

      {% endfor%}

  </tbody>
</table>
{% endblock %}
