
{% extends 'base/base.html' %}
{% load static %}
<!-- aqui estoy llamando el archivo css-->
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}
{% block container2 %}
<!-- Diseño de las barras horizontales-->
  <div class="alert alert-success btn-info" role="alert">
  </div>

  <center>
    <div class="alert alert-success" role="alert">
        <center>
          <h1 class="alert-heading alert-success btn-info display-5"> Mapa Manizales</h1>
      <p class="lead  alert-success btn-info"> Utiliza la tecla Ctrl junto con la rueda del mouse para acercar o alejar el mapa</p>
        <hr class="my-4 btn-info">
      <p class="lead  alert-success btn-info"> También puede dar clik en el boton + para acercar el mapa en para alejarlo en -</p>
        <hr class="my-4 btn-info">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127174.88119198172!2d-75.55368316562938!3d5.068864728232937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476ffa6a42ce3b%3A0xa863cf6423ea141c!2sManizales%2C%20Caldas!5e0!3m2!1ses-419!2sco!4v1587916721763!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      <hr class="my-4 btn-info">
      </div>

  <!-- Diseño de las barras horizontales-->
    <div class="alert alert-success btn-info" role="alert">
        <h4 class="alert-heading alert-success btn-btn-info "> "Manizales Capital Mundial Del Agua" </h4>
    </div>
  </center>
{% endblock %}
