<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- puse la tabla dentro de eéste botón solo para efecto de animación-->
    <center>
        <button type="button" class="btn btn-outline-info">
          <input type="text" class="form-control" placeholder="Probando con python" aria-label="Username" aria-describedby="basic-addon1">
            <table class="table btn-dark ">
                <thead class="thead-dark btn-lg">

                  <!-- Encabezado de los títulos de la tabla-->
                  <tr>
                    <th scope="col"> <center> # </center></th>
                    <th scope="col"> <center> Digite un nombre Para Buscar</th>
                    <th scope="col"> <center> Digite Documento </center></th>
                    <th scope="col"> <center> Direccion </center></th>
                    <th scope="col"> <center> Imágen </center></th>
                    <th scope="col"> <center> Sitio Web </center> </th>
                  </tr>

                </thead>
                <tbody>
                  <tr> <!-- esete tr para que en cada iteriacion cree una fila nueva-->
                      <td>.... id  ......</td>
                      <td> $nombreLugar</td>
                      <td> $doc</td>
                      <td> ..........</td>
                      <td>..........</td>
                      <td> ..........</td>

                    </tr>
                    <tr> <!-- esete tr para que en cada iteriacion cree una fila nueva-->
                        <td>..........</td>
                        <td>..........</td>
                        <td>..........</td>
                        <td> ..........</td>
                        <td>..........</td>
                        <td> ..........</td>

                      </tr>

                </tbody>
            </table>
          </button>
    </center>
    <!--........................................................................ fin codificacion buscar en mapas-->
  </body>
</html>
